*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/RobotoCondensed-Regular.ttf) format("truetype");
}
.header {
  background-color: DarkCyan;
  padding: 5px 0;
}

.info {
  background: -webkit-gradient(linear, left top, right top, from(white), to(DarkCyan));
  background: linear-gradient(to right, white, DarkCyan);
  padding-left: 10px;
}
.temperature__value {
  margin-top: 5px;
  width: 150px;
  text-align: right;
  font-size: 18px;
}
.temperature__icon {
  width: 100px;
  margin-left: 40px;
}

.wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 200px;
}
.main {
  background: LightSeaGreen;
}

.days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

.day__temperature {
  text-align: right;
}
.day__icon {
  width: 50px;
}
.day__value {
  margin-top: 5px;
}

@media (max-width: 530px) {
  .temperature__icon {
    width: 50px;
  }
}
@media (max-width: 380px) {
  .days {
    display: block;
    font-size: 16px;
    padding: 5px 0;
  }

  .day {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .day__temperature {
    text-align: center;
  }
  .day__icon {
    width: 30px;
  }
  .day__value {
    margin-top: 0;
  }
}
body {
  font-family: "Roboto";
}

.container {
  max-width: 600px;
  margin: 0 auto;
}